#app {
  height: 100vh;
  background-color: rgb(20, 20, 20);
}


ul {
  list-style: none;
}

.add_task {
  display: flex;
  align-items: center;
}

.completed {
  text-decoration: line-through !important;
  text-decoration-color: red !important;
}

li {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  border-bottom: 1px solid lightgray;
}

li:hover {
  cursor: pointer;
  background-color: lightgray;
}


.my_button {
  padding: 25px 15px;
  display: flex;
  align-items: center;
  height: 30px;
}